#header {
    background: #FFFAEF;
}

.fludy-container {
    width: 100%;
}
#aligner_nav{
    justify-content: space-between;
}

.logo {
    vertical-align: middle;
}

.nav-link-custom {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.275862px;
    color: #000000 !important;
}

.yem {
   
    padding: 2px 30px;
    justify-content: space-between;
    display: flex;
}

.logo_im_nav {}

#home_page {
    background: #FFFAEF;
}

.align_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_couv_container{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    padding: 50px 0;
    color: #000;
}
.paragraphe_couv{

}
.text_download_app{
    font-family: "Poppins";
    font-style: normal;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: -1px;
    color: #000;
    font-weight: bold;
}
.text_comment_app{
    font-family: "Poppins";
    font-style: normal;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: -1px;
    color: #000;

}
.telechargeable_sur{

}
.app_store_download{
    padding-top: 10px;
}
.logo_appstore{

}
.scanne_app_store_dowload{
    padding-top: 8%;
}
.logo_scaner{

}
.logo_scann_app{

}
.play_store_download{
    padding-left: 5%;
}
.logo_playstore{

}
.scanne_play_store_dowload{
    padding-left: 10%;
}
.logo_scaner_play{

}
.logo_scann_play{

}

.image_container_right{


}
.illustration_niafey{
    position: absolute;
    top: 20%;
    left: 52%;
    z-index: 99999;
}
.dot_pattern{
    position: absolute;
    top: 57%;
    left: 45%;
    z-index: 9999;
}
.decoration{
    position: absolute;
    top: 55%;
    left: 46%;
    z-index: 999;
}
.container_comment_ça_marche{
    padding: 100px 0px ;
}
.comment_marche_first{
    position: relative;
}
.titre_comment_ça_marche{
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    color: #1d293f;
    text-align: center;
    font-style: normal;
}
.p_comment_ça_marche{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #7c8087;
    text-align: center;
    font-style: normal;
}

.facilite{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #7c8087;
    text-align: center;
    font-style: normal;
    margin-top: 3rem!important;
    padding-bottom: 8%;
}
.how_item{
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins";
    font-style: normal;
    text-align: center;
}
.how-col-items{

}
.numero_item{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
    color: #296574;
    text-align: center;
}
.titre_item{
    font-family: "Poppins";
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #1d293f;
    line-height: 22px;
}
.content_item{
    font-family: "Poppins";
    font-style: normal;
    text-align: center;
}
#bas_de_page_comment_ça_marche{
    background: #FCD941;
    
}
.container_bas_de_page{
    padding: 45px 0px;
}
.parag_bas_de_page{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 32px;
    color: #267;
}
.bloc_right_bas_de_page{
}
#how_download{
 display: flex
}

@media screen and (min-width: 576px) {
    #how_download {
        display: flow-root;
    }
    
}

@media screen and (min-width: 540px) {

 

    #how_download {
       display: flow-root;
    }
}
@media screen and (min-width: 720px) {


    #how_download {
       display: flow-root;
    }
}
@media screen and (min-width: 960px) {

 

    #how_download {
       display: flex;
    }
    
}

.text_bloc_right{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000;
}
#nos_services{

}
.container_nos_services{
    padding: 130px 0px ;
}
.titre_nos_services{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 51px;
    letter-spacing: -1px;
    color: #286372;
}
.parag_explication{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #7c8087;
}
.contenu_item{
margin-bottom: 10%;
}
.titre_des_services{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    color: #1d293f;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 1.5rem!important;

}
.liste_metiers{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #7c8087;
    padding-bottom: 10px;
    padding-top: 10px;
}
.image_pub{
    width: 100%;
}
#commentaires_clients{
    background: #E8F5F8
}
.container_clients{
    padding: 75px 0px;
}
.titre_clients{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #1d293f;
    margin-bottom: 90px;
    line-height: 65px;
}
.main {
    padding: 1rem 2rem;
    margin: auto;
}
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
    margin: 0 0 1.5rem;
    padding: 0;
}

.carousel-item {
    flex: 1 0 250px;
    margin: 1%;
    scroll-snap-align: start;
    display: inline-block;
}

.carousel-item img{
    margin-top: 0.5rem;
    width: 52.36px;
    height: 69.82px;
    margin-left: 15px;
    border-radius: 50%;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}


/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .carousel-item {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

 

    .carousel-item {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {
    

    .carousel-item {
        flex-basis: 450px;
    }
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    height: 359px;
}
.nom_feed{
    padding-top: 50px;
    padding-left:8% ;
    font-family: 'Poppins';
font-size: 14px;
color: #1D293F;
}
.feedback{
    font-family: 'Poppins';
color: #1D293F;
    padding-top: 20px;
    padding-left: 8%;
padding-right: 9.43%;
}
#devenir_prestataire{

}
.container_devenir_prestataire{
padding: 90px 0px ;
}
.titre_devenir_prestataire{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #1d293f;
    padding-bottom: 1.5rem!important;
}
.commentaire_devenir_prestation{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    color: #7c8087;
}
.bloc_prestataire_left{
    width: 90%;
}
.prestataire_left{
    align-items: center;
    width: auto;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 28px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 7px 17px rgb(0 0 0 / 14%);
}
.libelle_prestataire{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-left: 1rem!important;
}
.text_comments{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    font-size: 17px;
    color: #7c8087;
    padding-top: 10%;
}
.bloc_prestataire_right{
    padding-left: 15%;
    background: #fffaef;
    border-radius: 5px;
    width: 85%;
    filter: drop-shadow(0 4px 24px rgba(0,0,0,.15));
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-top: 5%;
}
.content_prestataire{
    padding-bottom: 5px ! important;
    padding-top: 5px!important;
}
.color_noire{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}
.color_yes{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 45px;
    color: #296675;
    padding-top: 15px;
    padding-bottom: 15px;
}
#telecharger_vite{
    background: #FFDD44;
    width: 100%;
}
.container_telecharger_vite{
    padding: 50px 0px ;
}
.bloc_telecharger{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.para_telecharger{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 51px;
    letter-spacing: -1px;
    color: #1d293f;
    white-space: nowrap;
}
.forme_app_store{
    margin-right: 1.5rem!important;
}
#nous_contacter{

}
.container_nous_contacter{
    padding: 50px 0px ;
}
.nous_contacter{
    font-family: Poppins;
  letter-spacing: -1px;
  color: #1D293F;
  padding-bottom: 7%;
}
.container_formulaire_contacte{
    position: relative;
    z-index: 999999999;
}
.contacte_disponible{
    display: flex;
    justify-content: space-between;
    z-index: 99999;
    position: relative;
}
.contacte_email{

}
.forme_contact_email{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0,0,0,.6);
    padding-left: 0.5rem!important;
}
.align_boutton_form{
    text-align: end!important;
}
.text_footer{
    font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
text-align: center;
color: rgba(0, 0, 0, 0.65);
}
.row_footer{
    position: relative;
    padding-top: 2.9%;
    padding-left: 6%;
    z-index: 9999999999;
}
.col_imaige_footer{
    display: flex!important;
    justify-content: space-around!important;
}
.image_forme{
    position: absolute;
    bottom: -725%;
    z-index: 1;
}
@media screen and (max-width: 992px) {
    #mon-ul{
        position: absolute;
        background: white;
        right: 0;
        top: 71%;
        width: 40%;
        z-index: 999999999;
    }
    .text_bloc_right{
        padding-left:5% ;
    }
    .bloc_prestataire_left{
     width: 100%;
    }
    .prestataire_left{
    
     width: 100%;
    }
    .bloc_prestataire_right{
        width: 100%;
    }
    #nos_services {
        margin-top: -12%;
    }
    #commentaires_clients {
        background: #E8F5F8;
        margin-top: -15%;
    }
    .titre_clients {
        margin-top: -10%;
        padding-left: 5%;
    }
    #devenir_prestataire {
        margin-top: -10%;
    }
    #telecharger_vite {
        margin-top: -10%;
    }
    #last{
        margin-top: -10%;
    }
    #nous_contacter {
        margin-top: -10%;
    }
    .commentaires{
        margin-top: -10%;
    }
    #comment_ça_marche{
        margin-top: -12%;
    }
    #view-mobile {
        margin-top: -6%;
    }
    .text_comments{
        padding-top: 5%;
    }
    .image_bas{
        display: none;
    }
    .nav_mob{
          padding-left: 15%;
    }
    #home_page{
        display: none;
    }
    .title_couv_container{
       
    }
    #bas_de_page_comment_ça_marche{
        display: none;
    }
    #view-mobile{
        background: #FFFAEF;
    }
    .yem {
        justify-content: space-between;
        display: flex;
        padding: 3px;
    }
    #contain-for{
       
    }
}

@media screen and (min-width: 992px) {
#view-mobile{
    display: none;
}
#view_mobile_bas_de_page{
    display: none;
}
}
.illustration_niafey_mobile{
    text-align: center;
    width: 100%;
}
.banner_image{
    background-image: url('img/Group 427318982 (1).png');
    margin-top: -30%;
   
}
#contain-for{
    filter: drop-shadow(0 4px 24px rgba(0,0,0,.15));
}
.logo_playstore_mobile{

}
.logo_mobile_app{
    margin-right: 1.5rem;
}
.logo_mobile_play{
    margin-left: 1.5rem;
}
#view_mobile_bas_de_page{
    background: #FCD941;
    margin-top: -12%;
}
.marge{
    padding-top: 2%;
}